body {
  font-family: Arial, sans-serif;
  background-color: #f4f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mytodo-container{
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1{
  color: #333;
  margin: bottom 20px;
}

input {
  padding: 8px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.addTaskBtn {
  padding: 8px 18px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 8px;
}
button:hover {
  background-color: #005fcc;

}

li {
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
